@import '../../vars';
$brand-light: rgba(49, 50, 133, 0.1);

.registration-container {
    background: #fff;
    box-shadow: $shadow;
    padding: 55px 30px;
    border-radius: 8px;
    width: 400px;
}

.registration {
    &__heading {
        text-align: center;
        margin-bottom: 30px;
        color: $primary;
        font-weight: $bold;
    }
}
.registration-form {
    display: flex;
    flex-direction: column;
    &__group {
        position: relative;
        margin-bottom: 30px;
    }
    &__label {
        position: absolute;
        top: 18px;
        left: 13px;
        font-size: 16px;
        font-weight: 400;
        color: $primary;
        transition: all 200ms ease-in-out;
        pointer-events: none;
    }
    &__input {
        padding: 16px 8px;
        outline: none;
        border: none;
        background: $brand-light;
        border-left: 5px solid $primary;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
        color: $primary;
        &:focus {
            background: transparent;
            border-right-color: $primary;
            border-bottom-color: $primary;
            border-top-color: $primary;
        }
        &:focus + .registration-form__label, &:valid + .registration-form__label {
            top: -25px; 
            left: 0;
            font-size: 85%;
            background: $primary;
            color: #fff;
            padding: 3px;
            border-radius: 3px;
        }
    }
    &__btn {
        background: $primary;
        color: #fff;
        outline: none;
        border: none;
        padding: 16px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: $bold;
        cursor: pointer;
        transition: background 200ms ease-in-out;
        &:hover, &:focus {
            background: $primary-light;
        }
    }
    &__select {
        display: block;
        font-size: 16px;
        font-weight: $normal;
        color: $primary;
        background: $brand-light;
        outline: none;
        padding: 16px 8px;
        border-left: 5px solid $primary;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        appearance: none;
        border-radius: 8px;
        width: 100%;
        outline: none;
    }
    &__icon {
        position: absolute;
        right: 8px;
        top: 16px;
        color: $primary;
        pointer-events: none;
    }
}
